@font-face {
  font-family: "DemiBold";
  src: url("../fonts/AntipastoPro-DemiBold.woff2");
}
@font-face {
  font-family: "Bebas";
  src: url("../fonts/bebasneuecyrillic.woff2");
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat.woff2");
}
body {
  overflow-x: hidden;
}
.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 5px;
}
.button {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 15px 35px;
  font-weight: 800;
  border-radius: 29px;
  background: #00ef18; 
  text-transform: uppercase;
  font-size: 16px;
}
.hero {
  background-image: url("../images/1/dark\ grunge.png");
  background-position: center;
  background-size: cover;
  padding-bottom: 70px;
}
/*------------------------------header------------------------------------------*/
.header__btn-box {
  transition:all .3s;  
}
.header__top-btn{
  color: #292929;
  font-family: "Bebas";sans-serif;
}
.header__btn-box:hover {
  transform: scale(1.05);
}
.header {
  padding: 30px 0;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__nav-link {
  padding: 0px 30px;
  cursor: pointer;
  transition: all .3s;
  text-transform: uppercase;
  font-family:"Montserrat";sans-serif;
  font-size: 14px;
  font-weight: 500;
}
.header__nav-link:hover {
  text-decoration: underline;
}
/*-----------------------------hero------------------------------------------------*/
.hero__body {
  padding-top: 145px;
}
.hero__container {
  position: relative;
}
.hero__container::before {
  width: 1000px;
  height: 1000px;
  position: absolute;
  content: '';
  top: -50%;
  right: -13%;
  background-image: url("../images/1/Stroitel.png");
  background-size: cover;
  background-position: center;
  pointer-events: none;
  z-index: -1;
}
.hero__body-title {
  color: #2B2B2B;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  max-width: 825px;
  height: 167px;
  font-family: "Bebas";sans-serif;
  text-transform: uppercase;
}
.hero__body-text {
  max-width: 370px;
  color: #2B2B2B;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 133.9%; /* 26.78px */
  margin-top: 47px;
  margin-bottom: 55px;
  font-family: "Montserrat";sans-serif;
}
.header__content-buttons {
  max-width: 296px;
  max-height: 65px;
  text-transform: uppercase;
  transition: all .3s;
}
.header__content-btn{
  color: #292929;
  font-family: "Bebas";sans-serif;
  font-size: 20px;
}
.header__content-buttons:hover {
  transform: scale(1.05);
}
/*------------------------------"hero__row"-----------------------------------------*/
.hero__row {
  padding-top: 120px;
}
.hero__row-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero__row-item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero__row-item img{
  width: 250px;
}
.hero__row-item--free{
  margin-top: 60px;
}
.hero__row-image--free{
  margin-left: -19px;
  margin-bottom: 40px;
}
.hero__row-title {
  font-family: "Bebas";
  text-transform: uppercase;
  color: #292929;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.hero__row-text {
  margin-top: 5px;
  color: #2B2B2B;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 154.9%; /* 24.784px */
  font-family: "DemiBold";sans-serif;
}
/*------------------------------about__franchise-----------------------------------------*/
.about__franchise{
  background: #121212;
  background-image: url(../images/2/Tools.png);
}
.container__about--franchise{
  position: relative;
  max-width: 780px;
  margin: 0 auto;
  margin-bottom: -243px;
}
.title__two{
  padding-top: 85px;
  text-align: center;
  margin-bottom: 30px;
  color: #00EF18;
  font-family: "Bebas";sans-serif;
  text-transform: uppercase;
  font-size: 55px;
  font-style: normal;
  font-weight: 700;
}
.text__style{
  color: #00EF18;
  text-align: center;
  font-family: "Montserrat";sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 126%/* 27.72px */
}
.text__one{
  color: #FFF;
  font-family: "Montserrat";sans-serif;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 70px;
}
.text__two{
  color: #FFF;
  font-family: "Montserrat";sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 126%;
  margin-bottom: 30px;
}
.about__text{
  text-align: center;
}
.about__the-text{
  color: #FFF;
  font-family: "Montserrat";sans-serif;
  font-size: 20px;
  font-weight: 500;
}
/*------------------------------francise__slider-----------------------------------------*/
.francase__slide--image img{
  width: 100%;
  margin-bottom: 20px;
}
.slider__arows{
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 70%;
  width: 100%;
  transform: translateY(-50%)
}
.slider__btn-prev{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 52px;
  background-color: transparent;
  border-radius: 50%;
  margin-left: -25px;
}
.slider__btn-next{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 52px;
  background-color: transparent;
  border-radius: 50%;
  margin-right: -25px;
}
.slider__btn-prev::before{
  content: "";
  position: absolute;
  top: 49%;
  left: 3px;
  width: 60px;
  height: 60px;
  background-color: #00EF18;
  border-radius: 50%;
  z-index: -1;
  transition: all .3s;
}
.slider__btn-prev::before {
  transform: translate(-50%, -50%) scale(0);
}
.slider__btn-prev:hover::before {
  transform: translate(-50%, -50%) scale(1);
}
.slider__btn-next::before{
  content: "";
  position: absolute;
  top: 49%;
  right: -58px;
  width: 60px;
  height: 60px;
  background-color: #00EF18;
  border-radius: 50%;
  z-index: -1;
  transition: all .3s;
}
.slider__btn-next::before {
  transform: translate(-50%, -50%) scale(0);
}
.slider__btn-next:hover::before {
  transform: translate(-50%, -50%) scale(1);
}
.slider__btn-next img, .slider__btn-prev img {
  width: 35px;
}
.francise__slider .slick-dots{
  display: flex;
  justify-content: center;
  align-items: center;
}
.francise__slider li{
  margin-right: 18px;
}
.francise__slider button{
  width: 10px;
  height: 10px;
  font-size: 0;
  background-color: transparent;
  display: flex;
  align-items: center;
}
.francise__slider button::before{
  content: "";
  height: 10px;
  width: 10px;
  background-color: #7B7B7B;
  border-radius: 50%;
}
.francise__slider .slick-active button::before{
  background-color: #00EF18;
  transition: all .3s;
}
/*------------------------------autonomous__development-----------------------------------------*/
.autonomous__container {
  position: relative;
  padding-top: 358px;
}
.autonomous__img{
  position: absolute;
  top: 23%;
  right: -18%;
}
.autonomous__title-one {
  color: #2B2B2B;
  font-size: 55px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 46px;
  font-family: "Bebas";sans-serif;
  text-transform: uppercase;
}
.dash{
  color: #00EF18;
  margin-left: 16px;
  margin-right: 16px;
}
.autonomous__title-two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 46px;
  color: #2B2B2B;
  font-family: "Bebas";sans-serif;
  font-size: 26px;
  font-weight: 400;
  line-height: 133.9%; /* 34.814px */
}
.autonomous__body-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 46px;
  max-width: 571px;
  color: #2B2B2B;
  font-family: "Montserrat";sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px; /* 150% */
}
.autonomous__content-buttons {
  max-width: 231px;
  max-height: 65px;
  border-radius: 48px;
  box-shadow: 0px 26px 41px -7px rgba(0, 234, 65, 0.30);
  text-transform: uppercase;
  transition: all .3s;
  margin-bottom: 123px;
}
.autonomous__content-btn{
  color: #292929;
  font-family: "Bebas";sans-serif;
  font-size: 20px;
}
.autonomous__content-buttons:hover {
  transform: scale(1.05);
}
/*------------------------------partners__choose-----------------------------------------*/
.partners__choose {
  background: #121212;
  background-image:url(../images/5/dark-grunge-texture-05\ 1\ 5.png);
}
.choose__container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.why__partners-choose {
  color: #FFF;
  text-align: center;
  font-size: 55px;
  font-style: normal;
  font-weight: 700;
  line-height: 0%; 
  font-family: "Bebas";sans-serif;
  padding-top: 113px;
}
.choose__us {
  color: #00EF18;
  font-family: "Bebas";sans-serif;
  font-size: 55px;
  font-style: normal;
  font-weight: 700;
  line-height: 0%; 
}
.partners__choose-img {
  padding-top: 178px;
  display: block;
  margin: 0 auto;
}
.partners__choosebox{
  position: absolute;
  top: 39%;
  left: 179px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.partners__img {
  padding-bottom: 13px;
}
.partners__txt {
  color: #FFF;
  text-align: center;
  font-family: "Montserrat";sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 126%;
}
.partners__chooseboxtwo {
  position: absolute;
  top: 59%;
  left: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.partners__imgtwo {
  padding-bottom: 13px;
}
.partners__chooseboxtree {
  position: absolute;
  top: 80%;
  left: 85px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.partners__imgtree {
  padding-bottom: 13px;
}
.partners__chooseboxfour {
  position: absolute;
  top: 34%;
  right: 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.partners__imgfour {
  padding-bottom: 13px;
}
.partners__chooseboxfive {
  position: absolute;
  top: 58%;
  right: -3px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.partners__imgfive {
  padding-bottom: 2px;
}
.partners__chooseboxsix {
  position: absolute;
  top: 85%;
  right: 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.partners__imgsix {
  padding-bottom: 24px;
}
/*------------------------------believe__reviews-----------------------------------------*/
.believe__reviews {
  margin-right: 30px;
}
.container {
  position: relative;
  margin-bottom: 146px; 
  border-radius: 11px;
}
.reviews__container { 
  background:#121212;
  background-image:url(../images/6/dark-grunge-texture-05\ 1\ 2.svg)
}
.believe__one {
  padding-top: 96px;
  padding-left: 96px;
  color: #FFF;
  font-family: "Bebas";sans-serif;
  font-size: 55px;
  font-weight: 700;
  line-height: 0%;
}
.believe__two{
  padding-top: 75px;
  padding-left: 96px;
  color: #FFF;
  font-family: "Bebas";sans-serif;
  font-size: 55px;
  font-weight: 700;
  line-height: 0%;
}
.call__me-bodytxt {
  padding-top: 40px;
  padding-left: 96px;
  color: #FFF;
  font-family: "Montserrat";sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 27px;
}
.call__me-bodytxttwo{
  padding-top: 40px;
  padding-left: 96px;
  color: #FFF;
  font-family: "Montserrat";sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}
.call__me-img {
  position: absolute;
  top: -11%;
  right: -340px;
  overflow-x: hidden;
}
.telephone__number {
  display: flex;
  align-items: center;
  padding-top: 45px;
  padding-left: 96px;
}
.call__icon {
  padding-right: 20px;
}
.call__numbers {
  color: #FFF;
  font-family: "Bebas";sans-serif; 
  font-size: 36px;
  font-weight: 700;
}
.believe__content-buttons {
  padding-top: 45px;
  padding-bottom: 96px;
  padding-left: 96px;
  border-radius: 48px;
  max-width: 360px;
  text-transform: uppercase;
  transition: all .3s;
}
.believe__content-btn{
  color: #292929;
  font-family: "Bebas";sans-serif;
  font-size: 20px;
  font-weight: 700;
}
.believe__content-buttons:hover {
  transform: scale(1.05);
}
/*------------------------------priority__cities-----------------------------------------*/
.priority__citiesopening {
  padding-left: 20%;
  color: #121212;
  font-family: "Bebas";sans-serif;
  font-size: 55px;
  font-weight: 700;
}
.priority__city {
  color: #00EF18;
  font-family: "Bebas";sans-serif;
  font-size: 55px;
  font-weight: 700;
}
.city__content {
  padding-top: 100px;
  display: flex;
}
.city__contentbox{
  display: flex;
  border-radius: 6px;
  border: 1px solid rgba(18, 18, 18, 0.35);
  background: rgba(196, 196, 196, 0.00);
}
.city__item {
  display: flex;
  align-items: center;
  padding-top: 25px;
  padding-left: 45px;
}
.city__title {
  padding-left: 38px;
  color: #121212;
  font-family: "Bebas";sans-serif;
  font-size: 36px;
  font-weight: 700;
}
.city__titletwo{
  padding-left: 33px;
  color: #121212;
  font-family: "Bebas";sans-serif;
  font-size: 36px;
  font-weight: 700;
}
.city__titletree{
  padding-left: 33px;
  color: #121212;
  font-family: "Bebas";sans-serif;
  font-size: 36px;
  font-weight: 700; 
}
.city__itemtwo {
  display: flex;
  align-items: center;
  padding-top: 16px;
  padding-left: 45px;
}
.city__itemtree{
  display: flex;
  align-items: center; 
  padding-top: 16px;
  padding-left: 45px;
  padding-bottom: 25px;
}
.city__itemfour{
  display: flex;
  align-items: center; 
  flex-direction: column;
  padding-top: 20px;
  padding-left: 75px;
  padding-right: 65px;
}
.city__titlefour{
  color: #121212;
  font-family: "Bebas";sans-serif;
  font-size: 36px;
  font-weight: 700; 
}
.city__itemfive{
  display: flex;
  align-items: center; 
  flex-direction: column;
  padding-top: 30px;
  padding-left: 75px;
  padding-right: 65px;
}
.city__titlefive{
  color: #121212;
  font-family: "Bebas";sans-serif;
  font-size: 36px;
  font-weight: 700; 
  padding-top: 13px;
  padding-bottom: 25px;
}
.city__txt-but {
  padding-left: 90px;
}
.city__text {
  color: #121212;
  font-family: "Montserrat";sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  padding-bottom: 35px;
}
.city__textone {
  color: #121212;
  font-family: "Montserrat";sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  padding-bottom: 35px;
}
.city__texttwo {
  color: #121212;
  font-family: "Montserrat";sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  padding-bottom: 35px;
}
.city__content-buttons {
  border-radius: 48px;
  max-width: 269px;
  max-height: 65px;
  text-transform: uppercase;
  transition: all .3s;
}
.city__content-buttons:hover {
  transform: scale(1.05);
}
.city__content-btn {
  color: #292929;
  font-family: "Bebas";sans-serif;
  font-size: 20px;
  font-weight: 700;
}
/*------------------------------After__conclution-----------------------------------------*/
.partner__title{
  display: flex;
  flex-direction: column;
}
.partner__receives {
  color: #121212;
  text-align: center;
  font-family: "Bebas";sans-serif;
  font-size: 55px;
  font-style: normal;
  font-weight: 700;
  line-height: 0%;
}
.partner__receivestwo {
  padding-top: 70px;
  padding-left: 390px;
  color: #00EF18;
  font-family: "Bebas";sans-serif;
  font-size: 55px;
  font-style: normal;
  font-weight: 700;
  line-height: 0%;
}
.item__full-legal {
  display: flex;
  padding-top: 90px;
}
.full__legal-container{
  display: flex;
  flex-direction: column;
}
.full__legal-txt {
  color: #C6C6C6;
  font-family: "Bebas";sans-serif;
  font-size: 64px;
  font-weight: 400;
  line-height: 118%;
}
.full__legal-txttwo {
  padding-top: 33px;
  color: #121212;
  font-family: "Bebas";sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 118%;
}
.full__legal-txttree {
  padding-top: 33px;
  color: #121212;
  font-family: "Montserrat";sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px; 
}
.item__design-services {
  display: flex;
  padding-left: 165px;
}
.img__design-container{
  max-width: 530px;
  padding-left: 3%;
}
.design__services-container{
  order: -1;
  display: flex;
  flex-direction: column;
}
.design__services-txt {
  color: #C6C6C6;
  font-family: "Bebas";sans-serif;
  font-size: 64px;
  font-weight: 400;
  line-height: 118%;
}
.design__services-txttwo {
  padding-top: 33px;
  color: #121212;
  font-family: "Bebas";sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 118%;
}
.design__services-txttree {
  padding-top: 33px;
  color: #121212;
  font-family: "Montserrat";sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
}
.item__technical-instructions {
  display: flex;
  padding-top: 100px;
}
.technical__instructions-container{
  display: flex;
  flex-direction: column;
  padding-left: 6%;
}
.technical__instructions-txt {
  color: #C6C6C6;
  font-family: "Bebas";sans-serif;
  font-size: 64px;
  font-weight: 400;
  line-height: 118%;
}
.technical__instructions-txttwo {
  padding-top: 33px;
  color: #121212;
  font-family: "Bebas";sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 118%; 
}
.technical__instructions-txttree {
  padding-top: 33px;
  color: #121212;
  font-family: "Montserrat";sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
}
.technical__instructions-txtfour {
  padding-top: 33px;
  color: #121212;
  font-family: "Montserrat";sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
}
.After__content-buttons {
  margin-left: 40%;
  padding-top: 66px;
  max-width: 333px;
  transition: all .3s;
}
.After__content-buttons:hover {
  transform: scale(1.05);
}
.After__content-btn {
  color: #292929;
  font-family: "Bebas";sans-serif;
  font-size: 20px;
  font-weight: 700;
}
/*------------------------------stages-----------------------------------------*/
.stages {
  padding-top: 143px;
  background:#121212;
  background-image: url(../images/9/tools\ 4.png);
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}
.stages__title {
  color: #00EF18;
  font-family: "Bebas";sans-serif;
  font-size: 55px;
  font-weight: 700;
  line-height: 0%;
}
.line__container {
  margin-top: 105px;
}
.line__company-wrapper {
  display: flex;
  justify-content: space-between;
  padding-right: 70px;
  padding-left: 240px;
}
.Getting__company {
  margin-top: 20px;
  color: #FFF;
  font-family: "Bebas";sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 118%;
}
.working__software {
  margin-top: 20px;
  color: #FFF;
  font-family: "Bebas";sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 118%;
}
.customer__service {
  margin-top: 20px;
  color: #FFF;
  font-family: "Bebas";sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 118%;
}
.customer__servicetwo{
  margin-right: 95px;
  margin-top: 5px;
  color: #FFF;
  font-family: "Bebas";sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 118%;
}
.line__containertwo {
  margin-top: 105px;
}
.line__company-wrappertwo {
  display: flex;
  justify-content: space-between;
  padding-right: 142px;
  padding-left: 240px;
}
.training__skills {
  margin-top: 20px;
  color: #FFF;
  font-family: "Bebas";sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 118%;
}
.training__skillstwo{
  margin-top: 5px;
  margin-right: 64px;
  color: #FFF;
  font-family: "Bebas";sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 118%;
}
.legal__consultation {
  margin-top: 20px;
  margin-right: 35px;
  color: #FFF;
  font-family: "Bebas";sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 118%;
}
.personnel__selection {
  margin-top: 20px;
  color: #FFF;
  font-family: "Bebas"; sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 118%;
}
.line__containerthree {
  margin-top: 105px;
}
.line__company-wrapperthree{
  display: flex;
  justify-content: space-between;
  padding-right: 120px;
  padding-left: 240px;
}
.integration__eco-system {
  margin-top: 20px;
  color: #FFF;
  font-family: "Bebas";sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 118%;
}
.exit__object {
  margin-top: 20px;
  margin-right: 60px;
  color: #FFF;
  font-family: "Bebas";sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 118%;
}
.reaching__payback {
  margin-top: 20px;
  color: #FFF;
  font-family: "Bebas";sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 118%;
}
.line__containerfour {
  margin-top: 105px;
  margin-left: 235px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.line__company-wrapper {
  display: flex;
  justify-content: space-between;
  padding-right: 70px;
  padding-left: 240px;
}
.ready__business {
  margin-top: 20px;
  margin-bottom: 144px;
  color: #FFF;
  font-family: "Bebas";sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 118%;
}
/*------------------------------Acordeon questions-----------------------------------------*/
.main__questions {
  color: #2c3e50;
  background: #ecf0f1;
}
.questions__container{
  max-width: 1195px; 
}
.questions__title{
  padding-top: 130px;
  padding-bottom: 75px;
  text-align: center;
}
.Q__A {
  color: #000;
  text-align: center;
  font-family: "Bebas";sans-serif;
  font-size: 55px;
  font-weight: 700;
  line-height: 0%;
}
.half {
  float: left;
  width: 100%;
  padding: 0 1em;
}
/*-----------------------------Acordeon styles--------------------------------*/
.tab {
  position: relative;
  margin-bottom: 1px;
  width: 100%;
  color: #000;
  font-size: 25px;
  font-weight: 600;
  line-height: 118%;
  overflow: hidden;
}
.text__management{
  color: #000;
  font-family: "Bebas";sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 118%; 
}
.text__management-five{
  color: #000;
  font-family: "Bebas";sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 118%; 
}
input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
label {
  position: relative;
  display: block;
  padding: 0 0 0 1em;
  background: #E3DFDF;
  font-weight: bold;
  line-height: 3;
  cursor: pointer;
}
.tab-content {
  max-height: 0;
  overflow: hidden;
  background: #E3DFDF;
  -webkit-transition: max-height .35s;
  -o-transition: max-height .35s;
  transition: max-height .35s;
}
.text__content-one{
  color: #000;
  font-family: "Montserrat";sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 118%;
  margin: 1em;
}
/*------------------------------:checked------------------------------------------*/
input:checked ~ .tab-content {
  max-height: 10em;
}
/*--------------------------------Icon--------------------------------------------*/
label::after {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 3em;
  height: 3em;
  line-height: 3;
  text-align: center;
  -webkit-transition: all .35s;
  -o-transition: all .35s;
  transition: all .35s;
}
label:hover{
  color: #00EF18;
  transition: all .3s;
}
input[type=checkbox] + label::after {
  content: "+";
}
input[type=radio] + label::after {
  content: "\25BC";
}
input[type=checkbox]:checked + label::after {
  transform: rotate(315deg);
}
input[type=radio]:checked + label::after {
  transform: rotateX(180deg);
}
/*-------------------------------footer--------------------------------------*/
.footer {
  background: #121212;
}
.container {
}
.construction__bureau {
  margin-top: 550px;
  display: flex;
  justify-content: space-between;
}
.logo__description {
}
.footer__logo {

}
.logo__teamr {
}
.logo__teamr img{
  max-width: 280px;
}
.footer__description {
  display: flex;
  margin-left: 61px;
}
.official__site {
  color: rgba(255, 255, 255, 0.37);
  font-family: "Montserrat";sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 118%; 
  padding-bottom: 76px;
}
.i_p {
  color: rgba(255, 255, 255, 0.37);
  font-family: "Montserrat";sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 118%; 
  margin-left: 50px;
}
.socialmedia__description{
  margin-top: 175px;
}
.social__media {
  display: flex;
}
.v_k {
}
.v_k-link {
}
.inst__agram {
  margin-left: 30px;
}
.inst__link {
}
.social__media-description {
  margin-top: 40px;
}
.privacy__policy {
  color: #FFF;
  font-family: "Montserrat";sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 118%;
  text-decoration-line: underline;
}
.contacts {
  margin-top: 155px;
}
.telephone {
}
.tel__num {
  color: #FFF;
  font-family: "Bebas";sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 118%;
}
.call__back {
  margin-top: 10px;
}
.call__you-back {
}
.tel__col {
  color: #00EF18;
  font-family: "Montserrat";sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 118%; 
  text-decoration-line: underline;
}
.investors {
  margin-top: 44px;
}
.investors__you {
}



